
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>
<div style="margin-top: 50px;text-align: center;justify-content: center;">
    <h5>Ⓒ 2022 Word of Mouth A-09</h5>
    <p>“Only the pure in heart can make a good soup.” ~ Ludwig van Beethoven</p>
    <button style="margin-left: 45%;border-radius: 100px;"class="float btn-warning btn shadow" onclick="topFunction()" id="footerBtn" title="Go to top"><i class="bi bi-caret-up-fill"></i></button>
</div>
<style>
  .float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background: #ffdd77;
  }
</style>
<script>
    /*
        Source for Footer Button Code: https://mdbootstrap.com/docs/standard/extended/back-to-top/

     */
     mybutton = document.getElementById("footerBtn");
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0; // For Safari
              document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }     
</script>