{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Word of Mouth</title>
</head>

<div style="background-color:#175676;">
  <nav style="color: white;" class="navbar navbar-expand-lg navbar-dark" style="background-color:#175676; position:fixed">
    <div class="container-fluid" style="background-color:#175676">
      <a style="font-weight: bold; margin-left: 30px;"class="navbar-brand" href="/">WORD OF MOUTH 🍽️</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/wordofmouth">Explore</a>
          <a class="nav-link" href="/wordofmouth/create">Create</a>
          {% if user.is_authenticated %}
          <a class="nav-link" href="/wordofmouth/favorites">Favorites</a>
          <a class="nav-link" href="/login">Account</a>
          {% else %}
          <a class="nav-link" href="/login">Sign In</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>
<script>
  document.body.style.backgroundColor = "#F3F3F2"
</script>
