<html>
    {% include "navbar.html" %}
    <!-- Background image -->
    <div
    class="bg-image d-flex justify-content-center align-items-center"
    style="
    background-image: url('https://candidkay.files.wordpress.com/2015/05/fotolia_72196084_subscription_monthly_m.jpg');
    height: 60vh;
    "
    >
    <h1 class="text-white">Witness a world full of recipes.</h1>
    <h2 class="text-white">What are we cooking today?</h2>
    </div>
    <!-- Background image -->   
    {% if recipe_list %}
    <div class="d-flex justify-content-center"> 

        {% for recipe in recipe_list %}
        <div class="col-lg-3 col-md-6 mb-4 mt-4 p-2">

            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="{{recipe.picture.url}}"
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">

                <h5 class="{% url 'wordofmouth:recipe_detail' recipe.id %}">{{ recipe.recipe_title }}</h5>
                <p class="{% url 'wordofmouth:recipe_detail' recipe.id %}">{{ recipe.description }}</p>
                <a href="{% url 'wordofmouth:recipe_detail' recipe.id %}"   class="btn btn-primary">Go To Recipe</a>
              </div>
            </div>
          </div>
        

        {% endfor %}
        
        {% else %}
            <p>No recipess are available.</p>
        {% endif %}
    </div>
</html>