<html>
    {% include "navbar.html" %}
    <!-- Background image -->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
    <div
    class="bg-image justify-content-center align-items-center"
    style="
    background-image: url('https://candidkay.files.wordpress.com/2015/05/fotolia_72196084_subscription_monthly_m.jpg');
    height: 60vh;
    position:relative;
    "
    >
    <div style="padding-left:10%;padding-top: 14%;">
      <h1 style="font-size: 60px;"class="text-white">Witness a world full of recipes.</h1>
      <h2 class="text-white">What are we cooking today?</h2>
    </div>
    </div>
    <!-- Background image -->
    {% if tags_list %}
          <div class="card shadow"style="display:flex; margin-right: 30px; margin-left: 30px;margin-top:30px; border-radius:1rem;">
            <div style="display:flex; margin: 15px; overflow: auto;">
              <h5 style="margin-right:10px;font-weight: bold;">Trending 📈</h5>
              {% for tag in tags_list %}
              <a style="background-color: #e16f62;color:white;height:30px; margin-right:10px; border-radius: 0.5rem;" class="btn btn-light btn-sm" href="/wordofmouth/tags/{{tag}}">#{{tag}}</a>
              {% endfor %}
            </div>
          </div>
    {% endif %}
    {% if recipe_list %}
    <div class="row grid" data-masonry='{"percentPosition": true }' style="margin-right: 30px; margin-left: 30px;margin-bottom: 20px;"> 

        {% for recipe in recipe_list %}
        <div class="col-lg-4 col-md-6 mb-2 mt-4 p-2">

            <div id="recipe_card" class="card shadow" style="border-radius: 1em;">
              <div class="bg-image hover-overlay ripple" style="text-align: center;" data-mdb-ripple-color="light">
                <img
                  src="{{recipe.picture.url}}"
                  class="img-fluid"
                  onerror="this.style='display:none;'"
                  style="border-radius: 1em 1em 0 0; width: 100%;height: 30vh;object-fit: cover;"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="{% url 'wordofmouth:recipe_detail' recipe.id %}">{{ recipe.recipe_title }}</h5>
                {% if recipe.description != None %}
                <p class="{% url 'wordofmouth:recipe_detail' recipe.id %}">{{ recipe.description }}</p>
                {% endif %}
                <a href="{% url 'wordofmouth:recipe_detail' recipe.id %}" style="background-color: #ffdd77;color:black;font-weight: 200; margin-top: 10px;" class="btn btn-light">Go To Recipe</a>
              </div>
            </div>
          </div>

          <script>
            var $grid = $('.grid').masonry({
            });
            $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');});
          </script>
        {% endfor %}
        
        {% else %}
            <p>No recipes are available at the moment🥺</p>
        {% endif %}
        {% include "footer.html" %}
    </div>
    <style>
      /* This is to make the cards hover on pointer */
      /*Credits to https://ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers*/ 
      #recipe_card{
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
      }
  
    #recipe_card:hover{
      transform: scale(1.015);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
    </style>
</html>
