{% load socialaccount %}
<html>
  <body>
    {% include "navbar.html" %}
    <div style="text-align:center; margin-top: 8%;">
      <h1>{{ recipe.recipe_title }}</h1>
      <p>{{ recipe.instructions }}</p>
      <form action="{% url 'wordofmouth:recipe_detail' recipe.id %}" method="post" name="like" id="likeform">
      {% csrf_token%}
      <button type="submit" name="like" value="{{ recipe.id }}" class="btn btn-primary">Like</button>
        <p>{{ recipe.recipe_title }} has {{ recipe.likes }} likes</p>
    </form>
    </div>
  </body>
</html>