<html>
    {% include "navbar.html" %}
    <div style="margin-left:35%;margin-top:8%">
        <h1>Witness a world full of recipes.</h1>
        <h2>What are we cooking today?</h2>
        {% if recipe_list %}
            <ul>
            {% for recipe in recipe_list %}
                <p><a href="{% url 'wordofmouth:recipe_detail' recipe.id %}">{{ recipe.recipe_title }}</a></p>
            {% endfor %}
            </ul>
        {% else %}
            <p>No recipess are available.</p>
        {% endif %}
    </div>
</html>